BLREC_IMAGE_TAG=3.0.0-beta.4
TZ=Asia/Shanghai
BLREC_ADMIN_USERNAME=admin
BLREC_API_KEY=
BLREC_FORWARDED_ALLOW_IPS=127.0.0.1
BLREC_CONFIG_DIR=/volume1/docker/blrec-next/config
BLREC_LOG_DIR=/volume1/docker/blrec-next/log
BLREC_RECORDING_DIR=/volume1/docker/blrec-next/rec
