BLREC_SERVER_IMAGE_TAG=3.0.0-beta.85
TZ=Asia/Shanghai
BLREC_ADMIN_USERNAME=admin
BLREC_API_KEY=
BLREC_VAINGLORY_WORKER_MODE=remote
BLREC_ANALYSIS_WORKER_TOKEN=
BLREC_DATABASE_URL=
BLREC_DATABASE_NAME=blrec_dashboard
BLREC_DATABASE_SCHEMA=core
BLREC_DATABASE_SSH_HOST=
BLREC_DATABASE_SSH_PORT=22
BLREC_DATABASE_SSH_USER=
BLREC_DATABASE_TUNNEL_LOCAL_PORT=15432
BLREC_DATABASE_TUNNEL_REMOTE_PORT=5432
BLREC_CLOUD_COST_ALIYUN_ACCESS_KEY_ID=
BLREC_CLOUD_COST_ALIYUN_ACCESS_KEY_SECRET=
BLREC_CLOUD_COST_ALIYUN_CDN_DOMAIN=vg.luwei.host
BLREC_CLOUD_COST_ALIYUN_OSS_BUCKET=luwei-vainglory
BLREC_CLOUD_COST_ALIYUN_OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
BLREC_CLOUD_COST_ALIYUN_OSS_REGION=cn-beijing
BLREC_CLOUD_COST_CACHE_SECONDS=600
BLREC_VISITOR_ANALYTICS_ALIYUN_ACCESS_KEY_ID=
BLREC_VISITOR_ANALYTICS_ALIYUN_ACCESS_KEY_SECRET=
BLREC_VISITOR_ANALYTICS_SLS_ENDPOINT=cn-beijing.log.aliyuncs.com
BLREC_VISITOR_ANALYTICS_SLS_PROJECT=vainglory
BLREC_VISITOR_ANALYTICS_SLS_LOGSTORE=vainglory-dashboard
BLREC_VISITOR_ANALYTICS_DOMAIN=vg.luwei.host
BLREC_VISITOR_ANALYTICS_CACHE_SECONDS=300
BLREC_VISITOR_ANALYTICS_RETENTION_DAYS=7
BLREC_FORWARDED_ALLOW_IPS=127.0.0.1
BLREC_CONFIG_DIR=/volume1/docker/blrec-next/config
BLREC_LOG_DIR=/volume1/docker/blrec-next/log
BLREC_RECORDING_DIR=/volume1/docker/blrec-next/rec
BLREC_FAVORITES_DIR=/volume1/docker/blrec-next/favorites
BLREC_CLIP_DIR=/volume1/docker/blrec-next/clips
