@use '../shared/styles/layout';
@use './shared/styles/setting';

.inner-content {
  @extend %inner-content;
  padding-top: 0;
}

.settings-page {
  box-sizing: border-box;
  padding: 0 16px 16px;
}
