DASHBOARD_PUBLISHER_IMAGE_TAG=dashboard-publisher-master
DASHBOARD_PUBLISHER_ENV_FILE=/volume1/docker/blrec-next/secrets/dashboard-publisher.env
DASHBOARD_PUBLISHER_STATE_DIR=/volume1/docker/blrec-next/dashboard-publisher/state
BLREC_CONFIG_DIR=/volume1/docker/blrec-next/config
DASHBOARD_SCHEDULE_HOUR=0
DASHBOARD_SCHEDULE_MINUTE=5
DASHBOARD_RETRY_SECONDS=900
