<div class="controls-wrapper" aria-label="录制任务筛选">
  <nz-input-group class="filter" [nzPrefix]="searchIcon" [nzSuffix]="clearIcon">
    <input
      nz-input
      type="search"
      maxlength="100"
      placeholder="搜索主播、标题、分区或房间号"
      #filterInput
      (input)="onFilterInput(filterInput.value)"
    />
  </nz-input-group>
  <ng-template #searchIcon><i nz-icon nzType="search"></i></ng-template>
  <ng-template #clearIcon>
    <i
      *ngIf="filterInput.value"
      nz-icon
      class="filter-clear"
      nzTheme="fill"
      nzType="close-circle"
      (click)="filterInput.value = ''; onFilterInput('')"
    ></i>
  </ng-template>

  <nz-select
    class="selector"
    [nzOptions]="selections"
    [(ngModel)]="selection"
    (ngModelChange)="selectionChange.emit($event)"
  ></nz-select>

  <nz-range-picker
    class="date-filter"
    [ngModel]="dateRange"
    [nzPlaceHolder]="['开播开始日期', '开播结束日期']"
    (ngModelChange)="onDateRangeChanged($event)"
  ></nz-range-picker>

  <button
    class="reverse-button"
    nz-button
    type="button"
    (click)="toggleReverse()"
  >
    <span>{{ reverse ? '最早优先' : '最新优先' }}</span>
    <i nz-icon nzType="swap" [nzRotate]="90"></i>
  </button>

  <button
    class="more-actions-button"
    nz-button
    nzType="text"
    type="button"
    nz-dropdown
    nzPlacement="bottomRight"
    [nzDropdownMenu]="dropdownMenu"
    aria-label="全部任务操作"
  >
    <i nz-icon nzType="more"></i>
  </button>
</div>

<nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="startAllTasks()">全部运行</li>
    <li nz-menu-item (click)="stopAllTasks()">全部停止</li>
    <li nz-menu-item (click)="stopAllTasks(true)">全部强制停止</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="disableAllRecorders(false)">全部关闭录制</li>
    <li nz-menu-item (click)="disableAllRecorders(true)">全部强制关闭录制</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="updateAllTaskInfos()">全部刷新数据</li>
    <li nz-menu-item (click)="copyAllTaskRoomIds()">复制全部房间号</li>
    <li nz-menu-item nzDanger (click)="removeAllTasks()">全部删除</li>
  </ul>
</nz-dropdown-menu>
