<div class="controls-wrapper" aria-label="房间管理筛选">
  <nz-input-group class="filter" [nzPrefix]="searchIcon" [nzSuffix]="clearIcon">
    <input
      nz-input
      type="search"
      maxlength="100"
      placeholder="搜索主播、标题、分区或房间号"
      #filterInput
      (input)="onFilterInput(filterInput.value)"
    />
  </nz-input-group>
  <ng-template #searchIcon><i nz-icon nzType="search"></i></ng-template>
  <ng-template #clearIcon>
    <i
      *ngIf="filterInput.value"
      nz-icon
      class="filter-clear"
      nzTheme="fill"
      nzType="close-circle"
      (click)="filterInput.value = ''; onFilterInput('')"
    ></i>
  </ng-template>

  <nz-select
    class="selector"
    [nzOptions]="selections"
    [(ngModel)]="selection"
    (ngModelChange)="selectionChange.emit($event)"
  ></nz-select>

  <nz-select
    class="selector upload-selector"
    [nzOptions]="automaticSubmissionOptions"
    [(ngModel)]="automaticSubmissionFilter"
    (ngModelChange)="automaticSubmissionFilterChange.emit($event)"
  ></nz-select>

  <nz-select
    class="selector visibility-selector"
    data-testid="visibility-filter"
    aria-label="筛选稿件可见性"
    [nzOptions]="submissionVisibilityOptions"
    [(ngModel)]="submissionVisibilityFilter"
    (ngModelChange)="submissionVisibilityFilterChange.emit($event)"
  ></nz-select>

  <nz-select
    class="selector account-selector"
    data-testid="account-filter"
    aria-label="筛选投稿账号"
    [nzOptions]="accountFilterOptions"
    [(ngModel)]="submissionAccountFilter"
    (ngModelChange)="submissionAccountFilterChange.emit($event)"
  ></nz-select>

  <button
    class="reverse-button"
    nz-button
    type="button"
    (click)="toggleReverse()"
  >
    <span>{{ reverse ? "最早优先" : "最新优先" }}</span>
    <i nz-icon nzType="swap" [nzRotate]="90"></i>
  </button>

  <button
    class="more-actions-button"
    nz-button
    nzType="text"
    type="button"
    nz-dropdown
    nzPlacement="bottomRight"
    nzOverlayClassName="action-dropdown-overlay"
    [nzDropdownMenu]="dropdownMenu"
    aria-label="其他房间操作"
  >
    <i nz-icon nzType="more"></i>
  </button>
</div>

<nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="updateAllTaskInfos()">刷新全部房间信息</li>
    <li nz-menu-item (click)="copyAllTaskRoomIds()">复制全部房间号</li>
  </ul>
</nz-dropdown-menu>
