[Unit]
Description=Check the public dashboard CDN certificate hourly

[Timer]
OnBootSec=2min
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5min
Unit=blrec-dashboard-cdn-certificate.service

[Install]
WantedBy=timers.target
