DASHBOARD_PUBLISHER_IMAGE_TAG=master
DASHBOARD_PUBLISHER_ENV_FILE=/volume1/docker/blrec-next/secrets/dashboard-publisher.env
DASHBOARD_PUBLISHER_STATE_DIR=/volume1/docker/blrec-next/dashboard-publisher/state
BLREC_CONFIG_DIR=/volume1/docker/blrec-next/config
DASHBOARD_POLL_SECONDS=900
DASHBOARD_RETRY_SECONDS=900
DASHBOARD_STATIC_JSON_ENABLED=false
