DASHBOARD_PUBLISHER_IMAGE_TAG=master
DASHBOARD_PUBLISHER_ENV_FILE=/volume1/docker/blrec-next/secrets/dashboard-publisher.env
DASHBOARD_PUBLISHER_STATE_DIR=/volume1/docker/blrec-next/dashboard-publisher/state
BLREC_CONFIG_DIR=/volume1/docker/blrec-next/config
DASHBOARD_WATCH_SECONDS=1
DASHBOARD_DEBOUNCE_SECONDS=2
DASHBOARD_RECONCILE_SECONDS=86400
DASHBOARD_RETRY_SECONDS=60
DASHBOARD_STATIC_JSON_ENABLED=false
